
<div class="container">
  <h2>{{'Reservations Table'|translate}}</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{'name'|translate}}</th>
    <th scope="col">{{'table number'|translate}}</th>
    <th scope="col">{{'number of people'|translate}}</th>
    <th scope="col">{{'note'|translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of reservations; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
     {{r.firstName}}
    </td>
    <td>{{r.tableNumber}}</td>
    <td>{{r.numberOfpeoples}}</td>
    <td>{{r.notes}}</td>
  </tr>
  </tbody>
</table>
</div>
