<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 pb-5">
                  <div class="row"> <img src="../../../assets/logo.jpg" class="logo"> </div>
                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img width="100%" src="../../../assets/3.jpg" class="image"> </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                <form class="needs-validation" [formGroup]="form" novalidate>
                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">{{'Email Address' | translate}}</h6>
                      </label> <input class="mb-4" type="text" name="email" formControlName="email" placeholder="{{'Enter a valid email address'|translate}}">

                    </div>
                    <div  class="row px-3" *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="text-danger">
                      <div *ngIf="form.controls['email'].errors?.required">
                       {{'email is required'|translate}}
                    </div>
                  </div>




                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">{{'Password'|translate}}</h6>
                      </label> <input type="password" name="password" formControlName="password" placeholder="{{'Enter password'|translate}}">
                    </div>



                    <div  class="row px-3" *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="text-danger">
                      <div *ngIf="form.controls['password'].errors?.required">
                       {{'password is required'|translate}}
                    </div>
                  </div>

                  <div class="row mb-3 px-3"> <button  [disabled]="!form.valid" type="button" class="btn btn-info text-center" (click)="Login()">{{'Login'| translate}}</button> </div>
                  <div class="row mb-4 px-3"> <small class="font-weight-bold">{{"Don't have an account?"|translate}}<a class="text-danger" [routerLink]="['/register']">{{'Register'|translate}}</a></small> </div>
                  </form>
              </div>
          </div>
      </div>

  </div>
</div>
